In [1]:
import pandas as pd
from pulp import *

Plant Location :
Manufacturing variable costs

In [4]:
# Import Costs
manvar_costs = pd.read_excel('variable_costs.xlsx', index_col = 0)
manvar_costs

                         USA  Germany  Japan  Brazil  India
Variable Costs ($/Unit)
USA                       12       12     12      12     12
Germany                   13       13     13      13     13
Japan                     10       10     10      10     10
Brazil                     8        8      8       8      8
India                      5        5      5       5      5

In [5]:
#Freight Costs
# Import Costs
freight_costs = pd.read_excel('freight_costs.xlsx', index_col = 0)
freight_costs

                               USA  Germany  Japan  Brazil  India
Freight Costs ($/Container)
USA                              0    12250   1100   16100   8778
Germany                      13335        0   8617   20244  10073
Japan                        15400    22750      0   43610  14350
Brazil                       16450    22050  28000       0  29750
India                        13650    15400  24500   29400      0

In [6]:
# Variable Costs
var_cost = freight_costs/1000 + manvar_costs 

var_cost

                                USA  Germany   Japan  Brazil   India
Freight Costs ($/Container)
USA                          12.000    24.25  13.100  28.100  20.778
Germany                      26.335    13.00  21.617  33.244  23.073
Japan                        25.400    32.75  10.000  53.610  24.350
Brazil                       24.450    30.05  36.000   8.000  37.750
India                        18.650    20.40  29.500  34.400   5.000

In [7]:
# Import Costs
fixed_costs = pd.read_excel('fixed_cost.xlsx', index_col = 0)
fixed_costs

          Low  High
USA      6500  9500
Germany  4980  7270
Japan    6230  9100
Brazil   3230  4730
India    2110  6160

In [8]:
# Two types of plants: Low Capacity and High Capacity Plant
cap = pd.read_excel('capacity.xlsx', index_col = 0)
cap

                         Low  High
Capacity (kUnits/month)
USA                      500  1500
Germany                  500  1500
Japan                    500  1500
Brazil                   500  1500
India                    500  3000

In [33]:
# -- Demand
demand = pd.read_excel('demand.xlsx', index_col = 0,skiprows=1)
demand.columns
demand.set_index('(Units/month)', inplace=True)
demand

                Demand
(Units/month)
USA            2800000
Germany          90000
Japan          1700000
Brazil          145000
India           160000

In [34]:
# Define Decision Variables
loc = ['USA', 'Germany', 'Japan', 'Brazil', 'India']
size = ['Low', 'High']

# Initialize Class
model = LpProblem("Capacitated Plant Location Model", LpMinimize)


# Create Decision Variables
x = LpVariable.dicts("production_", [(i,j) for i in loc for j in loc],
                     lowBound=0, upBound=None, cat='continuous')
y = LpVariable.dicts("plant_", 
                     [(i,s) for s in size for i in loc], cat='Binary')

# Define Objective Function
model += (lpSum([fixed_costs.loc[i,s] * y[(i,s)] * 1000 for s in size for i in loc])
          + lpSum([var_cost.loc[i,j] * x[(i,j)]   for i in loc for j in loc]))

# Add Constraints
print(demand.loc['USA','Demand'])
for j in loc:
    model += lpSum([x[(i, j)] for i in loc]) == demand.loc[j,'Demand']
for i in loc:
    model += lpSum([x[(i, j)] for j in loc]) <= lpSum([cap.loc[i,s]*y[(i,s)] * 1000
                                                       for s in size])


# Define logical constraint: Add a logical constraint so that if the high capacity plant in USA is open, then a low capacity plant in Germany is also opened.
# model += y[('USA','High_Cap')] <= y[('Germany','Low_Cap')]                                                       
                                                       
# Solve Model
model.solve()
print("Total Costs = {:,} ($/Month)".format(int(value(model.objective))))
print('\n' + "Status: {}".format(LpStatus[model.status]))


# Dictionnary
dict_plant = {}
dict_prod = {}
for v in model.variables():
    if 'plant' in v.name:
        name = v.name.replace('plant__', '').replace('_', '')
        dict_plant[name] = int(v.varValue)
        p_name = name
    else:
        name = v.name.replace('production__', '').replace('_', '')
        dict_prod[name] = v.varValue
    print(name, "=", v.varValue)

/Users/rupsachakraborty/miniforge3/envs/ws/lib/python3.8/site-packages/pulp/pulp.py:1352: UserWarning: Spaces are not permitted in the name. Converted to '_'
  warnings.warn("Spaces are not permitted in the name. Converted to '_'")

2800000
Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/rupsachakraborty/miniforge3/envs/ws/lib/python3.8/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/6j/tbybbzjd72d00hhxdw9_39j80000gn/T/a2e1e8707178498e987089d2ab36acef-pulp.mps timeMode elapsed branch printingOptions all solution /var/folders/6j/tbybbzjd72d00hhxdw9_39j80000gn/T/a2e1e8707178498e987089d2ab36acef-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 15 COLUMNS
At line 131 RHS
At line 142 BOUNDS
At line 153 ENDATA
Problem MODEL has 10 rows, 35 columns and 60 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 8.7227e+07 - 0.00 seconds
Cgl0004I processed model has 10 rows, 35 columns (10 integer (10 of which binary)) and 60 elements
Cbc0038I Initial state - 3 integers unsatisfied sum - 0.603333
Cbc0038I Pass   1: suminf.    0.00000 (0) obj. 9.3579e+07 iterations 5
Cbc0038I Solution found of 9.3579e+07
Cbc0038I Relaxing continuous gives 9.3579e+07
Cbc0038I Before mini branch and bound, 7 integers at bound fixed and 17 continuous
Cbc0038I Full problem 10 rows 35 columns, reduced to 2 rows 4 columns
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I Round again with cutoff of 9.29438e+07
Cbc0038I Reduced cost fixing fixed 1 variables on major pass 2
Cbc0038I Pass   2: suminf.    0.01822 (1) obj. 9.29438e+07 iterations 3
Cbc0038I Pass   3: suminf.    0.24955 (1) obj. 9.29438e+07 iterations 3
Cbc0038I Pass   4: suminf.    0.48486 (2) obj. 9.29438e+07 iterations 6
Cbc0038I Pass   5: suminf.    0.27224 (2) obj. 9.29438e+07 iterations 1
Cbc0038I Pass   6: suminf.    0.48486 (2) obj. 9.29438e+07 iterations 5
Cbc0038I Pass   7: suminf.    0.27224 (2) obj. 9.29438e+07 iterations 2
Cbc0038I Pass   8: suminf.    0.65321 (2) obj. 9.29438e+07 iterations 4
Cbc0038I Pass   9: suminf.    0.59556 (3) obj. 9.29438e+07 iterations 1
Cbc0038I Pass  10: suminf.    0.19070 (3) obj. 9.29438e+07 iterations 3
Cbc0038I Pass  11: suminf.    0.16800 (2) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  12: suminf.    0.51054 (2) obj. 9.29438e+07 iterations 1
Cbc0038I Pass  13: suminf.    0.65793 (3) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  14: suminf.    0.53323 (3) obj. 9.29438e+07 iterations 3
Cbc0038I Pass  15: suminf.    0.51054 (2) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  16: suminf.    0.51054 (2) obj. 9.29438e+07 iterations 0
Cbc0038I Pass  17: suminf.    0.85165 (4) obj. 9.29438e+07 iterations 3
Cbc0038I Pass  18: suminf.    0.63412 (3) obj. 9.29438e+07 iterations 6
Cbc0038I Pass  19: suminf.    0.41457 (2) obj. 9.29438e+07 iterations 5
Cbc0038I Pass  20: suminf.    0.50523 (2) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  21: suminf.    0.24955 (1) obj. 9.29438e+07 iterations 3
Cbc0038I Pass  22: suminf.    0.48486 (2) obj. 9.29438e+07 iterations 4
Cbc0038I Pass  23: suminf.    0.27224 (2) obj. 9.29438e+07 iterations 1
Cbc0038I Pass  24: suminf.    0.24955 (1) obj. 9.29438e+07 iterations 1
Cbc0038I Pass  25: suminf.    0.56328 (4) obj. 9.29438e+07 iterations 6
Cbc0038I Pass  26: suminf.    0.26707 (3) obj. 9.29438e+07 iterations 4
Cbc0038I Pass  27: suminf.    0.85928 (3) obj. 9.29438e+07 iterations 4
Cbc0038I Pass  28: suminf.    0.59556 (3) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  29: suminf.    0.19070 (3) obj. 9.29438e+07 iterations 3
Cbc0038I Pass  30: suminf.    0.16800 (2) obj. 9.29438e+07 iterations 2
Cbc0038I Pass  31: suminf.    0.63404 (2) obj. 9.29438e+07 iterations 6
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 2 integers at bound fixed and 15 continuous
Cbc0038I Full problem 10 rows 35 columns, reduced to 6 rows 16 columns
Cbc0038I Mini branch and bound improved solution from 9.3579e+07 to 9.2981e+07 (0.01 seconds)
Cbc0038I Round again with cutoff of 9.18004e+07
Cbc0038I Reduced cost fixing fixed 1 variables on major pass 3
Cbc0038I Pass  31: suminf.    0.05101 (1) obj. 9.18004e+07 iterations 0
Cbc0038I Pass  32: suminf.    0.44075 (2) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  33: suminf.    0.36833 (1) obj. 9.13101e+07 iterations 3
Cbc0038I Pass  34: suminf.    0.36833 (1) obj. 9.13101e+07 iterations 0
Cbc0038I Pass  35: suminf.    0.26333 (3) obj. 9.18004e+07 iterations 6
Cbc0038I Pass  36: suminf.    0.45785 (2) obj. 9.18004e+07 iterations 4
Cbc0038I Pass  37: suminf.    0.93518 (3) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  38: suminf.    1.12815 (4) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  39: suminf.    0.53342 (2) obj. 9.18004e+07 iterations 7
Cbc0038I Pass  40: suminf.    0.53991 (3) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  41: suminf.    0.26333 (3) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  42: suminf.    0.53753 (4) obj. 9.18004e+07 iterations 6
Cbc0038I Pass  43: suminf.    0.53753 (4) obj. 9.18004e+07 iterations 0
Cbc0038I Pass  44: suminf.    0.61213 (3) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  45: suminf.    0.61213 (3) obj. 9.18004e+07 iterations 0
Cbc0038I Pass  46: suminf.    0.20342 (3) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  47: suminf.    0.18073 (2) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  48: suminf.    0.72302 (3) obj. 9.18004e+07 iterations 5
Cbc0038I Pass  49: suminf.    0.72302 (3) obj. 9.18004e+07 iterations 0
Cbc0038I Pass  50: suminf.    0.59449 (3) obj. 9.18004e+07 iterations 4
Cbc0038I Pass  51: suminf.    0.33445 (2) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  52: suminf.    0.54269 (2) obj. 9.18004e+07 iterations 1
Cbc0038I Pass  53: suminf.    0.83729 (3) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  54: suminf.    0.37631 (3) obj. 9.18004e+07 iterations 3
Cbc0038I Pass  55: suminf.    0.35362 (2) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  56: suminf.    0.83729 (3) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  57: suminf.    0.66034 (3) obj. 9.18004e+07 iterations 1
Cbc0038I Pass  58: suminf.    0.33445 (2) obj. 9.18004e+07 iterations 2
Cbc0038I Pass  59: suminf.    0.54269 (2) obj. 9.18004e+07 iterations 1
Cbc0038I Pass  60: suminf.    0.66034 (3) obj. 9.18004e+07 iterations 1
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 1 integers at bound fixed and 15 continuous
Cbc0038I Full problem 10 rows 35 columns, reduced to 7 rows 17 columns
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I After 0.01 seconds - Feasibility pump exiting with objective of 9.2981e+07 - took 0.01 seconds
Cbc0012I Integer solution of 92981000 found by feasibility pump after 0 iterations and 0 nodes (0.01 seconds)
Cbc0038I Full problem 10 rows 35 columns, reduced to 10 rows 29 columns
Cbc0031I 3 added rows had average density of 4.3333333
Cbc0013I At root node, 11 cuts changed objective from 87226967 to 92981000 in 2 passes
Cbc0014I Cut generator 0 (Probing) - 2 row cuts average 2.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 5 row cuts average 11.4 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 2 (Knapsack) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is -100
Cbc0014I Cut generator 5 (FlowCover) - 1 row cuts average 2.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0014I Cut generator 6 (TwoMirCuts) - 5 row cuts average 4.0 elements, 0 column cuts (0 active)  in 0.000 seconds - new frequency is 1
Cbc0001I Search completed - best objective 92981000, took 11 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 6 variables fixed on reduced cost
Cuts at root node changed objective from 8.7227e+07 to 9.2981e+07
Probing was tried 2 times and created 2 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 2 times and created 5 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 2 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 2 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 2 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 2 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 2 times and created 5 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                92981000.00000000
Enumerated nodes:               0
Total iterations:               11
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.01   (Wallclock seconds):       0.02

Total Costs = 92,981,000 ($/Month)

Status: Optimal
('Brazil','High') = 0.0
('Brazil','Low') = 1.0
('Germany','High') = 0.0
('Germany','Low') = 0.0
('India','High') = 1.0
('India','Low') = 0.0
('Japan','High') = 1.0
('Japan','Low') = 0.0
('USA','High') = 1.0
('USA','Low') = 0.0
('Brazil','Brazil') = 145000.0
('Brazil','Germany') = 0.0
('Brazil','India') = 0.0
('Brazil','Japan') = 0.0
('Brazil','USA') = 0.0
('Germany','Brazil') = 0.0
('Germany','Germany') = 0.0
('Germany','India') = 0.0
('Germany','Japan') = 0.0
('Germany','USA') = 0.0
('India','Brazil') = 0.0
('India','Germany') = 90000.0
('India','India') = 160000.0
('India','Japan') = 0.0
('India','USA') = 1500000.0
('Japan','Brazil') = 0.0
('Japan','Germany') = 0.0
('Japan','India') = 0.0
('Japan','Japan') = 1500000.0
('Japan','USA') = 0.0
('USA','Brazil') = 0.0
('USA','Germany') = 0.0
('USA','India') = 0.0
('USA','Japan') = 200000.0
('USA','USA') = 1300000.0

In [35]:
# Capacity Plant
list_low, list_high = [], []
for l in loc:
    for cap in ['Low', 'High']:
        x = "('{}','{}')".format(l, cap)
        if cap == 'Low':
            list_low.append(dict_plant[x])
        else:
            list_high.append(dict_plant[x])
df_capacity = pd.DataFrame({'Location': loc, 'Low': list_low, 'High': list_high}).set_index('Location')
    
df_capacity

          Low  High
Location
USA         0     1
Germany     0     0
Japan       0     1
Brazil      1     0
India       0     1